In [1]:
# Import essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from utils import load_match_perf_team
df_match_perf_team = load_match_perf_team()

DONE

# Impact Score

#### 1. Batting score

In [2]:
# Calculate seasonal batting statistics from match-wise data
seasonal_batting_stats = df_match_perf_team.groupby(['Player', 'Season','Team']).agg(
    total_runs=('runs_scored', 'sum'),
    total_balls_faced=('balls_faced', 'sum'),
    # Count the number of times 'was_dismissed' is 'Yes'
    times_dismissed=('was_dismissed', lambda x: (x == 'Yes').sum()),
    # Count the number of innings where they batted (non-NaN in was_dismissed)
    innings_batted=('was_dismissed', lambda x: x.notna().sum())
).reset_index()

# Calculate Strike Rate
seasonal_batting_stats['Strike_Rate'] = np.where(
    seasonal_batting_stats['total_balls_faced'] > 0,
    (seasonal_batting_stats['total_runs'] / seasonal_batting_stats['total_balls_faced']) * 100,
    0.0  # If no balls faced, strike rate is 0
)

# Calculate Batting Average
seasonal_batting_stats['Batting_Average'] = np.where(
    seasonal_batting_stats['times_dismissed'] > 0,
    seasonal_batting_stats['total_runs'] / seasonal_batting_stats['times_dismissed'],
    np.nan  # If never dismissed, average is undefined (not out in all innings)
)

##### *** >>> seasonal_batting_stats <<<

In [3]:

print("Seasonal Batting Statistics DataFrame shape:", seasonal_batting_stats.shape)
print("\nSample data with strike rate and batting average:")
seasonal_batting_stats.head(15)

Seasonal Batting Statistics DataFrame shape: (3138, 9)

Sample data with strike rate and batting average:

,Player,Season,Team,total_runs,total_balls_faced,times_dismissed,innings_batted,Strike_Rate,Batting_Average
0,A Ashish Reddy,2012,Deccan Chargers,35,29,4,5,120.689655,8.750000
1,A Ashish Reddy,2013,Sunrisers Hyderabad,125,89,6,10,140.449438,20.833333
2,A Ashish Reddy,2015,Sunrisers Hyderabad,73,46,3,5,158.695652,24.333333
3,A Ashish Reddy,2016,Sunrisers Hyderabad,47,29,2,3,162.068966,23.500000
4,A Badoni,2022,Lucknow Super Giants,161,130,8,11,123.846154,20.125000
5,A Badoni,2023,Lucknow Super Giants,238,172,9,12,138.372093,26.444444
6,A Badoni,2024,Lucknow Super Giants,235,171,8,12,137.426901,29.375000
7,A Badoni,2025,Lucknow Super Giants,329,222,10,11,148.198198,32.900000
8,A Chandila,2012,Rajasthan Royals,0,1,0,1,0.000000,NaN
9,A Chandila,2013,Rajasthan Royals,4,6,0,1,66.666667,NaN
10,A Chopra,2008,Kolkata Knight Riders,42,52,4,5,80.769231,10.500000
11,A Chopra,2009,Kolkata Knight Riders,11,19,1,1,57.894737,11.000000
12,A Choudhary,2017,Royal Challengers Bangalore,25,20,1,3,125.000000,25.000000
13,A Dananjaya,2018,Mumbai Indians,4,5,0,1,80.000000,NaN
14,A Flintoff,2009,Chennai Super Kings,62,53,2,3,116.981132,31.000000

In [4]:
#----------------
df_sorted = seasonal_batting_stats.sort_values(by=["Batting_Average", "Strike_Rate"], ascending=[False, False])

df_sorted.head(15)

,Player,Season,Team,total_runs,total_balls_faced,times_dismissed,innings_batted,Strike_Rate,Batting_Average
1407,LA Pomersbach,2008,Kings XI Punjab,152,99,1,5,153.535354,152.000000
636,DB Das,2012,Kolkata Knight Riders,126,93,1,10,135.483871,126.000000
3036,WP Saha,2020,Sunrisers Hyderabad,214,153,2,4,139.869281,107.000000
1738,MS Dhoni,2019,Chennai Super Kings,416,309,4,12,134.627832,104.000000
673,DJ Hooda,2020,Kings XI Punjab,102,72,1,6,141.666667,102.000000
2589,SM Katich,2008,Kings XI Punjab,96,69,1,2,139.130435,96.000000
1665,ML Hayden,2008,Chennai Super Kings,189,131,2,4,144.274809,94.500000
1052,JA Morkel,2015,Delhi Daredevils,86,65,1,3,132.307692,86.000000
1591,MEK Hussey,2008,Chennai Super Kings,168,100,2,3,168.000000,84.000000
1638,MK Pandey,2009,Royal Challengers Bangalore,168,118,2,4,142.372881,84.000000
2862,TK Curran,2020,Rajasthan Royals,83,62,1,4,133.870968,83.000000
1152,JP Duminy,2012,Deccan Chargers,244,190,3,9,128.421053,81.333333
2936,V Kohli,2016,Royal Challengers Bangalore,973,640,12,16,152.031250,81.083333
69,A Symonds,2008,Deccan Chargers,161,105,2,3,153.333333,80.500000
1328,KP Pietersen,2010,Royal Challengers Bangalore,236,157,3,7,150.318471,78.666667

In [5]:
#----------------
df_sorted = seasonal_batting_stats.sort_values(by=["total_runs","Batting_Average", "Strike_Rate"], ascending=[False,False, False])

df_sorted.head(15)

,Player,Season,Team,total_runs,total_balls_faced,times_dismissed,innings_batted,Strike_Rate,Batting_Average
2936,V Kohli,2016,Royal Challengers Bangalore,973,640,12,16,152.031250,81.083333
2793,Shubman Gill,2023,Gujarat Titans,890,564,15,17,157.801418,59.333333
1067,JC Buttler,2022,Rajasthan Royals,863,579,15,17,149.050086,57.533333
626,DA Warner,2016,Sunrisers Hyderabad,848,560,14,17,151.428571,60.571429
422,B Sai Sudharsan,2025,Gujarat Titans,759,486,14,15,156.172840,54.214286
2944,V Kohli,2024,Royal Challengers Bengaluru,741,479,12,15,154.697286,61.750000
1344,KS Williamson,2018,Sunrisers Hyderabad,735,516,14,17,142.441860,52.500000
524,CH Gayle,2012,Royal Challengers Bangalore,733,456,12,14,160.745614,61.083333
1595,MEK Hussey,2013,Chennai Super Kings,733,566,13,17,129.505300,56.384615
807,F du Plessis,2023,Royal Challengers Bangalore,730,475,13,14,153.684211,56.153846
525,CH Gayle,2013,Royal Challengers Bangalore,720,459,12,18,156.862745,60.000000
2501,SA Yadav,2025,Mumbai Indians,717,427,11,16,167.915691,65.181818
628,DA Warner,2019,Sunrisers Hyderabad,692,481,10,12,143.866944,69.200000
121,AB de Villiers,2016,Royal Challengers Bangalore,687,407,13,16,168.796069,52.846154
2305,RR Pant,2018,Delhi Daredevils,684,394,13,14,173.604061,52.615385

### 2. Batting Impact Score

In [20]:
# region [IMPROVED IMPACT SCORE WITH Z-SCORES]

batting_stats_clean = seasonal_batting_stats.copy()


def standardize_within_season(df, metric_column):
    """Calculate Z-scores within each season"""
    return df.groupby('Season')[metric_column].transform(
        lambda x: (x - x.mean()) / x.std() if x.std() > 0 else 0
    )

# Calculate Z-scores for each component metric
batting_stats_clean['z_runs'] = standardize_within_season(batting_stats_clean, 'total_runs')
batting_stats_clean['z_avg'] = standardize_within_season(batting_stats_clean, 'Batting_Average')
batting_stats_clean['z_sr'] = standardize_within_season(batting_stats_clean, 'Strike_Rate')

# Apply weights to create composite Z-score
w_runs, w_avg, w_sr = 0.60, 0.15, 0.25
batting_stats_clean['Batting_Impact_Score'] = (
    (w_runs * batting_stats_clean['z_runs']) + 
    (w_avg * batting_stats_clean['z_avg']) + 
    (w_sr * batting_stats_clean['z_sr'])
)

In [21]:
# Analyze the distribution
print("\nBatting Impact Score Distribution:")
print(f"Mean: {batting_stats_clean['Batting_Impact_Score'].mean():.2f}")
print(f"Std Dev: {batting_stats_clean['Batting_Impact_Score'].std():.2f}")
print(f"Min: {batting_stats_clean['Batting_Impact_Score'].min():.2f}")
print(f"Max: {batting_stats_clean['Batting_Impact_Score'].max():.2f}")

Batting Impact Score Distribution:
Mean: 0.18
Std Dev: 0.86
Min: -1.17
Max: 3.90

#### *** >>> batting_stats_clean<<<

In [7]:
batting_stats_clean.head()

,Player,Season,Team,total_runs,total_balls_faced,times_dismissed,innings_batted,Strike_Rate,Batting_Average,z_runs,z_avg,z_sr,composite_z,batting_impact_score
0,A Ashish Reddy,2012,Deccan Chargers,35,29,4,5,120.689655,8.750000,-0.524277,-0.719963,0.366190,-0.331013,16.467974
1,A Ashish Reddy,2013,Sunrisers Hyderabad,125,89,6,10,140.449438,20.833333,0.102063,0.199427,0.945209,0.327454,29.465093
2,A Ashish Reddy,2015,Sunrisers Hyderabad,73,46,3,5,158.695652,24.333333,-0.311240,0.195435,0.991535,0.090455,24.787094
3,A Ashish Reddy,2016,Sunrisers Hyderabad,47,29,2,3,162.068966,23.500000,-0.404345,0.054652,1.085261,0.036906,23.730125
4,A Badoni,2022,Lucknow Super Giants,161,130,8,11,123.846154,20.125000,0.252398,0.008591,0.354430,0.241335,27.765230

In [32]:

# Display results
print("Top Batters by Impact Score (Sample):")
top_batters = batting_stats_clean.sort_values('Batting_Impact_Score', ascending=False)
#print(top_batters[['Player', 'Season', 'total_runs', 'Batting_Average', 'Strike_Rate', 'Batting_Impact_Score']].head(15))
print(top_batters[['Player', 'Season', 'Batting_Impact_Score']].head(30))

Top Batters by Impact Score (Sample):
               Player  Season  Batting_Impact_Score
523          CH Gayle    2011             93.215214
2936          V Kohli    2016             91.289062
627         DA Warner    2017             89.762556
1666        ML Hayden    2009             89.707957
2793     Shubman Gill    2023             89.509226
625         DA Warner    2015             86.231600
1301         KL Rahul    2021             86.227769
120    AB de Villiers    2015             86.155429
2944          V Kohli    2024             84.766441
2653     SR Tendulkar    2010             84.134767
1300         KL Rahul    2020             83.870571
2532         SE Marsh    2008             83.767003
1344    KS Williamson    2018             82.254770
422   B Sai Sudharsan    2025             82.236893
2501         SA Yadav    2025             82.174573
2229       RD Gaikwad    2021             82.038258
805      F du Plessis    2021             82.007043
1067       JC Buttler    2022             81.874882
525          CH Gayle    2013             81.596944
217         AM Rahane    2015             81.300222
628         DA Warner    2019             80.770790
2305          RR Pant    2018             80.711178
2411         S Dhawan    2020             80.226150
1595       MEK Hussey    2013             80.176499
626         DA Warner    2016             79.721774
1425      LMP Simmons    2015             79.628811
130      AC Gilchrist    2009             77.950589
1298         KL Rahul    2018             77.859678
1105        JH Kallis    2010             77.780858
807      F du Plessis    2023             77.598126

In [21]:

# Let's also check a specific known player across seasons
test_player = "V Kohli"  # Change to whatever the exact name is in your data
player_history = batting_stats_clean[batting_stats_clean['Player'] == test_player].sort_values('Season')
print(f"\nCareer Impact Scores for {test_player}:")
print(player_history[['Season', 'total_runs', 'Batting_Average', 'Strike_Rate', 'Batting_Impact_Score']])

Career Impact Scores for V Kohli:
      Season  total_runs  Batting_Average  Strike_Rate  Batting_Impact_Score
2928    2008         165        15.000000   105.095541             30.351790
2929    2009         246        22.363636   112.328767             44.918882
2930    2010         307        27.909091   144.811321             51.583306
2931    2011         557        46.416667   121.086957             77.314772
2932    2012         364        30.333333   111.656442             40.385000
2933    2013         639        45.642857   139.215686             70.787186
2934    2014         359        27.615385   122.108844             45.850791
2935    2015         505        45.909091   130.829016             77.017646
2936    2016         973        81.083333   152.031250             91.289062
2937    2017         308        30.800000   122.222222             49.625191
2938    2018         530        48.181818   139.107612             64.388077
2939    2019         464        33.142857   141.463415             55.621190
2940    2020         471        42.818182   122.020725             63.982628
2941    2021         405        28.928571   119.469027             55.440979
2942    2022         341        24.357143   115.986395             36.274193
2943    2023         639        53.250000   139.824945             69.373154
2944    2024         741        61.750000   154.697286             84.766441
2945    2025         657        54.750000   144.713656             73.580735

### 3. Bowling score

In [8]:
# Calculate seasonal bowling statistics from match-wise data
seasonal_bowling_stats = df_match_perf_team.groupby(['Player', 'Season']).agg(
    total_wickets=('wickets_taken', 'sum'),
    total_runs_conceded=('runs_conceded', 'sum'),
    total_balls_bowled=('balls_bowled', 'sum'),
    total_innings_bowled=('match_id', 'nunique')  # Count number of innings bowled in
).reset_index()

# Calculate Economy Rate (runs per over)
seasonal_bowling_stats['Economy_Rate'] = np.where(
    seasonal_bowling_stats['total_balls_bowled'] > 0,
    (seasonal_bowling_stats['total_runs_conceded'] / seasonal_bowling_stats['total_balls_bowled']) * 6,
    np.nan  # If no balls bowled, economy is undefined
)

# Calculate Balls Per Wicket
seasonal_bowling_stats['Balls_Per_Wicket'] = np.where(
    seasonal_bowling_stats['total_wickets'] > 0,
    seasonal_bowling_stats['total_balls_bowled'] / seasonal_bowling_stats['total_wickets'],
    np.nan  # If no wickets taken, balls per wicket is undefined
)

#### ***>>>seasonal_bowling_stats<<<

In [9]:
print("Seasonal Bowling Statistics DataFrame shape:", seasonal_bowling_stats.shape)
print("\nSample data with bowling metrics:")
seasonal_bowling_stats.head(15)

Seasonal Bowling Statistics DataFrame shape: (3137, 8)

Sample data with bowling metrics:

,Player,Season,total_wickets,total_runs_conceded,total_balls_bowled,total_innings_bowled,Economy_Rate,Balls_Per_Wicket
0,A Ashish Reddy,2012,11,227,163,9,8.355828,14.818182
1,A Ashish Reddy,2013,3,69,40,10,10.350000,13.333333
2,A Ashish Reddy,2015,4,49,36,6,8.166667,9.000000
3,A Ashish Reddy,2016,1,39,23,3,10.173913,23.000000
4,A Badoni,2022,2,11,12,11,5.500000,6.000000
5,A Badoni,2023,0,0,1,12,0.000000,NaN
6,A Badoni,2024,0,25,12,12,12.500000,NaN
7,A Badoni,2025,2,13,10,13,7.800000,5.000000
8,A Chandila,2012,5,86,84,4,6.142857,16.800000
9,A Chandila,2013,6,156,150,8,6.240000,25.000000
10,A Chopra,2008,0,0,0,5,NaN,NaN
11,A Chopra,2009,0,0,0,1,NaN,NaN
12,A Choudhary,2017,5,137,101,5,8.138614,20.200000
13,A Dananjaya,2018,0,46,24,1,11.500000,NaN
14,A Flintoff,2009,2,105,66,3,9.545455,33.000000

In [10]:


print("\nTop wicket-takers across all seasons:")
print(seasonal_bowling_stats.sort_values('total_wickets', ascending=False).head()[['Player', 'Season', 'total_wickets', 'Economy_Rate']])
print("\nMost economical bowlers (min 100 balls bowled):")
economical_bowlers = seasonal_bowling_stats[seasonal_bowling_stats['total_balls_bowled'] >= 100].sort_values('Economy_Rate')
print(economical_bowlers.head()[['Player', 'Season', 'Economy_Rate', 'total_wickets']])

Top wicket-takers across all seasons:
           Player  Season  total_wickets  Economy_Rate
914      HV Patel    2021             35      7.526627
658      DJ Bravo    2013             34      7.680000
1158  JP Faulkner    2013             33      6.506596
1200     K Rabada    2020             32      8.040302
1690    MM Sharma    2023             31      8.105660

Most economical bowlers (min 100 balls bowled):
              Player  Season  Economy_Rate  total_wickets
414            B Lee    2009      4.650000              6
1148       JP Duminy    2009      4.914286              4
1395        L Balaji    2012      5.033333             12
1498  M Muralitharan    2009      5.140000             16
2361     Rashid Khan    2020      5.226804             20

### 4. Bowling Impact Score

In [22]:
bowling_stats_clean = seasonal_bowling_stats.copy()

def standardize_within_season(df, metric_column):
    """Calculate Z-scores within each season"""
    return df.groupby('Season')[metric_column].transform(
        lambda x: (x - x.mean()) / x.std() if x.std() > 0 else 0
    )

# Calculate Z-scores for each bowling component metric
bowling_stats_clean['z_wickets'] = standardize_within_season(bowling_stats_clean, 'total_wickets')
bowling_stats_clean['z_economy'] = standardize_within_season(bowling_stats_clean, 'Economy_Rate')
bowling_stats_clean['z_strike'] = standardize_within_season(bowling_stats_clean, 'Balls_Per_Wicket')

# For economy and strike rate, LOWER values are better, so we invert the Z-score
bowling_stats_clean['z_economy_inv'] = -bowling_stats_clean['z_economy']  # Invert so higher = better
bowling_stats_clean['z_strike_inv'] = -bowling_stats_clean['z_strike']    # Invert so higher = better

# Apply weights - adjust these based on T20 bowling importance
w_wickets, w_economy, w_strike = 0.50, 0.35, 0.15  # Economy is crucial in T20

bowling_stats_clean['Bowling_Impact_Score'] = (
    (w_wickets * bowling_stats_clean['z_wickets']) + 
    (w_economy * bowling_stats_clean['z_economy_inv']) + 
    (w_strike * bowling_stats_clean['z_strike_inv'])
)

In [23]:

# Display the results
print("Bowling Impact Scores with Z-Score Method:")
result_cols = ['Player', 'Season', 'total_wickets', 'Economy_Rate', 'Balls_Per_Wicket', 
               'Bowling_Impact_Score', 'z_wickets', 'z_economy_inv', 'z_strike_inv']
print(bowling_stats_clean[result_cols].head(15).round(2))

# Analyze the distribution
print("\nBowling Impact Score Distribution:")
print(f"Mean: {bowling_stats_clean['Bowling_Impact_Score'].mean():.2f}")
print(f"Std Dev: {bowling_stats_clean['Bowling_Impact_Score'].std():.2f}")
print(f"Min: {bowling_stats_clean['Bowling_Impact_Score'].min():.2f}")
print(f"Max: {bowling_stats_clean['Bowling_Impact_Score'].max():.2f}")

# Show top performers
print("\nTop 10 Bowlers by Z-Score Impact:")
top_bowlers_z = bowling_stats_clean.sort_values('Bowling_Impact_Score', ascending=False)
print(top_bowlers_z[['Player', 'Season', 'total_wickets', 'Economy_Rate', 'Bowling_Impact_Score']].head(10).round(2))

# Compare with economic bowlers (low economy rate)
print("\nTop 10 Economic Bowlers (Best Economy Rates):")
economic_bowlers = bowling_stats_clean[bowling_stats_clean['total_wickets'] >= 10].sort_values('Economy_Rate')
print(economic_bowlers[['Player', 'Season', 'Economy_Rate', 'total_wickets', 'Bowling_Impact_Score']].head(10).round(2))

# Compare with wicket-takers
print("\nTop 10 Wicket-Takers:")
wicket_takers = bowling_stats_clean.sort_values('total_wickets', ascending=False)
print(wicket_takers[['Player', 'Season', 'total_wickets', 'Economy_Rate', 'Bowling_Impact_Score']].head(10).round(2))

# Check if the scoring makes sense - elite bowlers should have high impact scores
elite_bowlers = ['JJ Bumrah', 'SL Malinga', 'YS Chahal', 'R Ashwin']  # Add actual names from your data
print("\nImpact Scores for Elite Bowlers:")
for bowler in elite_bowlers:
    bowler_data = bowling_stats_clean[bowling_stats_clean['Player'] == bowler]
    if not bowler_data.empty:
        print(f"{bowler}: {bowler_data['Bowling_Impact_Score'].mean():.2f} average impact score")
    else:
        print(f"{bowler}: Not found in data")

# endregion

Bowling Impact Scores with Z-Score Method:
            Player  Season  total_wickets  Economy_Rate  Balls_Per_Wicket  \
0   A Ashish Reddy    2012             11          8.36             14.82
1   A Ashish Reddy    2013              3         10.35             13.33
2   A Ashish Reddy    2015              4          8.17              9.00
3   A Ashish Reddy    2016              1         10.17             23.00
4         A Badoni    2022              2          5.50              6.00
5         A Badoni    2023              0          0.00               NaN
6         A Badoni    2024              0         12.50               NaN
7         A Badoni    2025              2          7.80              5.00
8       A Chandila    2012              5          6.14             16.80
9       A Chandila    2013              6          6.24             25.00
10        A Chopra    2008              0           NaN               NaN
11        A Chopra    2009              0           NaN               NaN
12     A Choudhary    2017              5          8.14             20.20
13     A Dananjaya    2018              0         11.50               NaN
14      A Flintoff    2009              2          9.55             33.00

    Bowling_Impact_Score  z_wickets  z_economy_inv  z_strike_inv
0                   0.62       1.01           0.05          0.62
1                  -0.49      -0.23          -1.39          0.77
2                   0.11      -0.11           0.08          0.92
3                  -0.63      -0.54          -1.11          0.19
4                   0.41      -0.41           1.11          1.51
5                    NaN      -0.68           4.36           NaN
6                    NaN      -0.67          -0.74           NaN
7                   0.29      -0.37           0.80          1.31
8                   0.42       0.07           0.90          0.48
9                   0.34       0.18           0.78         -0.19
10                   NaN      -0.72            NaN           NaN
11                   NaN      -0.73            NaN           NaN
12                  0.18       0.09           0.30          0.19
13                   NaN      -0.76          -1.36           NaN
14                 -0.64      -0.38          -0.95         -0.75

Bowling Impact Score Distribution:
Mean: 0.34
Std Dev: 0.71
Min: -1.49
Max: 2.68

Top 10 Bowlers by Z-Score Impact:
           Player  Season  total_wickets  Economy_Rate  Bowling_Impact_Score
2573   SL Malinga    2011             30          5.52                  2.68
914      HV Patel    2021             35          7.53                  2.65
2627    SP Narine    2012             29          5.37                  2.46
1116    JJ Bumrah    2020             30          6.52                  2.43
402       B Kumar    2017             28          6.82                  2.38
1690    MM Sharma    2023             31          8.11                  2.37
1492     M Morkel    2012             30          6.89                  2.33
1158  JP Faulkner    2013             33          6.51                  2.31
917      HV Patel    2024             30          9.06                  2.30
1199     K Rabada    2019             29          7.56                  2.29

Top 10 Economic Bowlers (Best Economy Rates):
              Player  Season  Economy_Rate  total_wickets  \
1395        L Balaji    2012          5.03             12
1498  M Muralitharan    2009          5.14             16
2361     Rashid Khan    2020          5.23             20
2627       SP Narine    2012          5.37             29
2157        R Sharma    2011          5.42             17
2628       SP Narine    2013          5.42             26
2637       SP Narine    2022          5.45             10
773         DW Steyn    2013          5.48             20
2573      SL Malinga    2011          5.52             30
1806     Mohsin Khan    2022          5.61             14

      Bowling_Impact_Score
1395                  1.14
1498                  1.46
2361                  1.86
2627                  2.46
2157                  1.51
2628                  1.99
2637                  0.62
773                   1.49
2573                  2.68
1806                  1.18

Top 10 Wicket-Takers:
           Player  Season  total_wickets  Economy_Rate  Bowling_Impact_Score
914      HV Patel    2021             35          7.53                  2.65
658      DJ Bravo    2013             34          7.68                  2.17
1158  JP Faulkner    2013             33          6.51                  2.31
1200     K Rabada    2020             32          8.04                  2.28
1690    MM Sharma    2023             31          8.11                  2.37
917      HV Patel    2024             30          9.06                  2.30
2573   SL Malinga    2011             30          5.52                  2.68
1492     M Morkel    2012             30          6.89                  2.33
1116    JJ Bumrah    2020             30          6.52                  2.43
3095    YS Chahal    2022             29          7.44                  2.10

Impact Scores for Elite Bowlers:
JJ Bumrah: 1.22 average impact score
SL Malinga: 1.63 average impact score
YS Chahal: 1.37 average impact score
R Ashwin: 0.93 average impact score

#### ***>>>bowling_stats_clean<<<

In [35]:
bowling_stats_clean.head(15)

,Player,Season,total_wickets,total_runs_conceded,total_balls_bowled,total_innings_bowled,Economy_Rate,Balls_Per_Wicket,norm_wickets,norm_economy,norm_strike,Bowling_Impact_Score
0,A Ashish Reddy,2012,11,227,163,9,8.355828,14.818182,0.366667,0.733490,0.922521,57.465221
1,A Ashish Reddy,2013,3,69,40,10,10.350000,13.333333,0.088235,0.298305,0.826291,26.190837
2,A Ashish Reddy,2015,4,49,36,6,8.166667,9.000000,0.148148,0.557143,0.968750,40.615443
3,A Ashish Reddy,2016,1,39,23,3,10.173913,23.000000,0.041667,0.448161,0.831429,29.473845
4,A Badoni,2022,2,11,12,11,5.500000,6.000000,0.068966,0.998247,0.952381,52.764354
5,A Badoni,2023,0,0,1,12,0.000000,NaN,0.000000,1.000000,NaN,NaN
6,A Badoni,2024,0,25,12,12,12.500000,NaN,0.000000,0.632653,NaN,NaN
7,A Badoni,2025,2,13,10,13,7.800000,5.000000,0.076923,0.896970,1.000000,50.034033
8,A Chandila,2012,5,86,84,4,6.142857,16.800000,0.166667,0.911001,0.900000,53.740362
9,A Chandila,2013,6,156,150,8,6.240000,25.000000,0.176471,0.576949,0.661972,38.776282
10,A Chopra,2008,0,0,0,5,NaN,NaN,0.000000,NaN,NaN,NaN
11,A Chopra,2009,0,0,0,1,NaN,NaN,0.000000,NaN,NaN,NaN
12,A Choudhary,2017,5,137,101,5,8.138614,20.200000,0.178571,0.628911,0.784848,42.401305
13,A Dananjaya,2018,0,46,24,1,11.500000,NaN,0.000000,0.409449,NaN,NaN
14,A Flintoff,2009,2,105,66,3,9.545455,33.000000,0.076923,0.624152,0.747664,36.659403

In [36]:

# Display results
print("Top Bowlers by Impact Score (Sample):")
top_bowlers = bowling_stats_clean.sort_values('Bowling_Impact_Score', ascending=False)
#print(top_bowlers[['Player', 'Season', 'total_wickets', 'Economy_Rate', 'Balls_Per_Wicket', 'Bowling_Impact_Score']].head(15))
print(top_bowlers[['Player', 'Season', 'total_wickets',  'Bowling_Impact_Score']].head(15))

Top Bowlers by Impact Score (Sample):
                 Player  Season  total_wickets  Bowling_Impact_Score
2627          SP Narine    2012             29             96.693774
3095          YS Chahal    2022             29             95.300313
2573         SL Malinga    2011             30             94.455411
1514  M Prasidh Krishna    2025             26             94.362198
1492           M Morkel    2012             30             93.813324
2800      Sohail Tanvir    2008             24             93.066594
2061       PWH de Silva    2022             27             92.123279
192              AJ Tye    2018             28             91.957775
2294           RP Singh    2009             26             91.944843
1913         Noor Ahmad    2025             24             91.302369
1683          MM Sharma    2014             26             91.071057
917            HV Patel    2024             30             90.852931
1116          JJ Bumrah    2020             30             90.818811
2034            PP Ojha    2010             22             90.720712
1199           K Rabada    2019             29             90.437186

In [37]:

# Let's also check a specific known bowler across seasons
test_bowler = "JJ Bumrah"  # Change to whatever the exact name is in your data
bowler_history = bowling_stats_clean[bowling_stats_clean['Player'] == test_bowler].sort_values('Season')
print(f"\nCareer Impact Scores for {test_bowler}:")
print(bowler_history[['Season', 'total_wickets', 'Economy_Rate', 'Balls_Per_Wicket', 'Bowling_Impact_Score']])
# endregion

Career Impact Scores for JJ Bumrah:
      Season  total_wickets  Economy_Rate  Balls_Per_Wicket  \
1109    2013              3      9.571429         14.000000
1110    2014              6      7.361345         39.666667
1111    2015              3     11.666667         30.000000
1112    2016             18      7.596154         17.333333
1113    2017             23      6.994475         15.739130
1114    2018             17      6.629630         19.058824
1115    2019             23      6.433155         16.260870
1116    2020             30      6.516129         12.400000
1117    2021             22      6.854545         15.000000
1118    2022             16      7.031250         20.000000
1119    2024             21      5.922830         14.809524
1120    2025             21      6.570423         13.523810

      Bowling_Impact_Score
1109             28.021798
1110             51.784999
1111             24.819841
1112             72.858639
1113             78.809469
1114             74.580431
1115             82.337943
1116             90.818811
1117             65.864935
1118             72.159071
1119             79.605824
1120             87.025531

## 5. Merging

In [24]:
player_impact_merged = pd.merge(
    batting_stats_clean,
    bowling_stats_clean,
    on=['Player', 'Season'],
    how='outer'  # This keeps all players, even if they only bat or only bowl
)

In [25]:
player_impact_merged.head()

,Player,Season,Team,total_runs,total_balls_faced,times_dismissed,innings_batted,Strike_Rate,Batting_Average,z_runs,...,total_balls_bowled,total_innings_bowled,Economy_Rate,Balls_Per_Wicket,z_wickets,z_economy,z_strike,z_economy_inv,z_strike_inv,Bowling_Impact_Score
0,A Ashish Reddy,2012,Deccan Chargers,35,29,4,5,120.689655,8.750000,-0.524277,...,163,9,8.355828,14.818182,1.014001,-0.047893,-0.622472,0.047893,0.622472,0.617134
1,A Ashish Reddy,2013,Sunrisers Hyderabad,125,89,6,10,140.449438,20.833333,0.102063,...,40,10,10.350000,13.333333,-0.231434,1.394067,-0.774791,-1.394067,0.774791,-0.487422
2,A Ashish Reddy,2015,Sunrisers Hyderabad,73,46,3,5,158.695652,24.333333,-0.311240,...,36,6,8.166667,9.000000,-0.110843,-0.078921,-0.921268,0.078921,0.921268,0.110391
3,A Ashish Reddy,2016,Sunrisers Hyderabad,47,29,2,3,162.068966,23.500000,-0.404345,...,23,3,10.173913,23.000000,-0.540163,1.110638,-0.189578,-1.110638,0.189578,-0.630368
4,A Badoni,2022,Lucknow Super Giants,161,130,8,11,123.846154,20.125000,0.252398,...,12,11,5.500000,6.000000,-0.413646,-1.109358,-1.509420,1.109358,1.509420,0.407865

# OUTPUTS

In [26]:
batting_stats_clean.to_csv('outputs/2_batting_impact_score.csv', index=False)

In [27]:
bowling_stats_clean.to_csv('outputs/2_bowling_impact_score.csv', index=False)

In [28]:
player_impact_merged.to_csv('outputs/2_merged_impact.csv', index=False)